<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Editar Permiso</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información Permiso">
            <div class="form-group row" [ngClass]="{'has-error': (!idpermisoAC.valid && idpermisoAC.touched), 'has-success': (idpermisoAC.valid && idpermisoAC.touched)}">
              <label for="inputidpermisoAC" class="col-sm-2 form-control-label">Idpermiso</label>
              <div class="col-sm-10">
                <input [(ngModel)]="idpermiso" [formControl]="idpermisoAC" type="number" maxlength='11' class="form-control" id="inputidpermisoAC">
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!accesoAC.valid && accesoAC.touched), 'has-success': (accesoAC.valid && accesoAC.touched)}">
              <label for="inputaccesoAC" class="col-sm-2 form-check-label">Acceso</label>
              <div class="col-sm-10">
                <input [(ngModel)]="acceso" [formControl]="accesoAC" type="checkbox" maxlength='4' class="form-check-input" id="inputaccesoAC">
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!rol_idrolAC.valid && rol_idrolAC.touched), 'has-success': (rol_idrolAC.valid && rol_idrolAC.touched)}">
              <label for="inputrol_idrolAC" class="col-sm-2 form-control-label">Rol_idrol</label>
              <div class="col-sm-10">
               <select [(ngModel)]="rol_idrol" [formControl]="rol_idrolAC" class="form-control" id="inputrol_idrolAC" >
                 <option value="{{item.idrol}}" *ngFor="let item of _rol">{{item.idrol}}</option>
               </select>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!modulo_idmoduloAC.valid && modulo_idmoduloAC.touched), 'has-success': (modulo_idmoduloAC.valid && modulo_idmoduloAC.touched)}">
              <label for="inputmodulo_idmoduloAC" class="col-sm-2 form-control-label">Modulo_idmodulo</label>
              <div class="col-sm-10">
               <select [(ngModel)]="modulo_idmodulo" [formControl]="modulo_idmoduloAC" class="form-control" id="inputmodulo_idmoduloAC" >
                 <option value="{{item.idmodulo}}" *ngFor="let item of _modulo">{{item.idmodulo}}</option>
               </select>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!bajaAC.valid && bajaAC.touched), 'has-success': (bajaAC.valid && bajaAC.touched)}">
              <label for="inputbajaAC" class="col-sm-2 form-check-label">Baja</label>
              <div class="col-sm-10">
                <input [(ngModel)]="baja" [formControl]="bajaAC" type="checkbox" maxlength='1' class="form-check-input" id="inputbajaAC">
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!created_byAC.valid && created_byAC.touched), 'has-success': (created_byAC.valid && created_byAC.touched)}">
              <label for="inputcreated_byAC" class="col-sm-2 form-control-label">Created_by</label>
              <div class="col-sm-10">
                <input [(ngModel)]="created_by" [formControl]="created_byAC" type="number" maxlength='11' class="form-control" id="inputcreated_byAC">
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!created_atAC.valid && created_atAC.touched), 'has-success': (created_atAC.valid && created_atAC.touched)}">
              <label for="inputcreated_atAC" class="col-sm-2 form-control-label">Created_at</label>
              <div class="col-sm-10">
                <input [(ngModel)]="created_at" [formControl]="created_atAC" type="date"  class="form-control" id="inputcreated_atAC">
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!modified_atAC.valid && modified_atAC.touched), 'has-success': (modified_atAC.valid && modified_atAC.touched)}">
              <label for="inputmodified_atAC" class="col-sm-2 form-control-label">Modified_at</label>
              <div class="col-sm-10">
                <input [(ngModel)]="modified_at" [formControl]="modified_atAC" type="date"  class="form-control" id="inputmodified_atAC">
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
