<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Orden</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información Orden">
            <div class="form-group row" [ngClass]="{'has-error': (!idordenAC.valid && idordenAC.touched), 'has-success': (idordenAC.valid && idordenAC.touched)}">
              <label for="inputidordenAC" class="col-sm-2 form-control-label">Idorden</label>
              <div class="col-sm-10">
                <input [(ngModel)]="idorden" [formControl]="idordenAC" type="number" maxlength='4' class="form-control" id="inputidordenAC" placeholder="idorden" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!facturaAC.valid && facturaAC.touched), 'has-success': (facturaAC.valid && facturaAC.touched)}">
              <label for="inputfacturaAC" class="col-sm-2 form-check-label">Factura</label>
              <div class="col-sm-10">
                <input [(ngModel)]="factura" [formControl]="facturaAC" type="checkbox" maxlength='4' class="form-check-input" id="inputfacturaAC" placeholder="factura" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!fechaAC.valid && fechaAC.touched), 'has-success': (fechaAC.valid && fechaAC.touched)}">
              <label for="inputfechaAC" class="col-sm-2 form-control-label">Fecha</label>
              <div class="col-sm-10">
                <input [(ngModel)]="fecha" [formControl]="fechaAC" type="date"  class="form-control" id="inputfechaAC" placeholder="fecha" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!status_avanceAC.valid && status_avanceAC.touched), 'has-success': (status_avanceAC.valid && status_avanceAC.touched)}">
              <label for="inputstatus_avanceAC" class="col-sm-2 form-control-label">Status_avance</label>
              <div class="col-sm-10">
                <input [(ngModel)]="status_avance" [formControl]="status_avanceAC" type="text" maxlength='25' class="form-control" id="inputstatus_avanceAC" placeholder="status_avance" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!status_pagoAC.valid && status_pagoAC.touched), 'has-success': (status_pagoAC.valid && status_pagoAC.touched)}">
              <label for="inputstatus_pagoAC" class="col-sm-2 form-control-label">Status_pago</label>
              <div class="col-sm-10">
                <input [(ngModel)]="status_pago" [formControl]="status_pagoAC" type="text" maxlength='25' class="form-control" id="inputstatus_pagoAC" placeholder="status_pago" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!subtotalAC.valid && subtotalAC.touched), 'has-success': (subtotalAC.valid && subtotalAC.touched)}">
              <label for="inputsubtotalAC" class="col-sm-2 form-control-label">Subtotal</label>
              <div class="col-sm-10">
                <input [(ngModel)]="subtotal" [formControl]="subtotalAC" type="number" maxlength='11' class="form-control" id="inputsubtotalAC" placeholder="subtotal" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!totalAC.valid && totalAC.touched), 'has-success': (totalAC.valid && totalAC.touched)}">
              <label for="inputtotalAC" class="col-sm-2 form-control-label">Total</label>
              <div class="col-sm-10">
                <input [(ngModel)]="total" [formControl]="totalAC" type="number" maxlength='11' class="form-control" id="inputtotalAC" placeholder="total" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!ivaAC.valid && ivaAC.touched), 'has-success': (ivaAC.valid && ivaAC.touched)}">
              <label for="inputivaAC" class="col-sm-2 form-control-label">Iva</label>
              <div class="col-sm-10">
                <input [(ngModel)]="iva" [formControl]="ivaAC" type="number" maxlength='11' class="form-control" id="inputivaAC" placeholder="iva" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!deudaAC.valid && deudaAC.touched), 'has-success': (deudaAC.valid && deudaAC.touched)}">
              <label for="inputdeudaAC" class="col-sm-2 form-control-label">Deuda</label>
              <div class="col-sm-10">
                <input [(ngModel)]="deuda" [formControl]="deudaAC" type="number" maxlength='11' class="form-control" id="inputdeudaAC" placeholder="deuda" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!f_limiteAC.valid && f_limiteAC.touched), 'has-success': (f_limiteAC.valid && f_limiteAC.touched)}">
              <label for="inputf_limiteAC" class="col-sm-2 form-control-label">F_limite</label>
              <div class="col-sm-10">
                <input [(ngModel)]="f_limite" [formControl]="f_limiteAC" type="date"  class="form-control" id="inputf_limiteAC" placeholder="f_limite" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!cliente_idclienteAC.valid && cliente_idclienteAC.touched), 'has-success': (cliente_idclienteAC.valid && cliente_idclienteAC.touched)}">
              <label for="inputcliente_idclienteAC" class="col-sm-2 form-control-label">Cliente_idcliente</label>
              <div class="col-sm-10">
               <select [(ngModel)]="cliente_idcliente" [formControl]="cliente_idclienteAC" class="form-control" id="inputcliente_idclienteAC" >
                 <option value="{{item.idcliente}}" *ngFor="let item of _cliente">{{item.idcliente}}</option>
               </select>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!bajaAC.valid && bajaAC.touched), 'has-success': (bajaAC.valid && bajaAC.touched)}">
              <label for="inputbajaAC" class="col-sm-2 form-check-label">Baja</label>
              <div class="col-sm-10">
                <input [(ngModel)]="baja" [formControl]="bajaAC" type="checkbox" maxlength='1' class="form-check-input" id="inputbajaAC" placeholder="baja" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!created_byAC.valid && created_byAC.touched), 'has-success': (created_byAC.valid && created_byAC.touched)}">
              <label for="inputcreated_byAC" class="col-sm-2 form-control-label">Created_by</label>
              <div class="col-sm-10">
                <input [(ngModel)]="created_by" [formControl]="created_byAC" type="number" maxlength='11' class="form-control" id="inputcreated_byAC" placeholder="created_by" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!created_atAC.valid && created_atAC.touched), 'has-success': (created_atAC.valid && created_atAC.touched)}">
              <label for="inputcreated_atAC" class="col-sm-2 form-control-label">Created_at</label>
              <div class="col-sm-10">
                <input [(ngModel)]="created_at" [formControl]="created_atAC" type="date"  class="form-control" id="inputcreated_atAC" placeholder="created_at" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!modified_atAC.valid && modified_atAC.touched), 'has-success': (modified_atAC.valid && modified_atAC.touched)}">
              <label for="inputmodified_atAC" class="col-sm-2 form-control-label">Modified_at</label>
              <div class="col-sm-10">
                <input [(ngModel)]="modified_at" [formControl]="modified_atAC" type="date"  class="form-control" id="inputmodified_atAC" placeholder="modified_at" >
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
